.env
ollama/
webui/

copyparty/

# Ansible
ansible/inventory.ini
ansible/secrets.yml
*.retry
*.log

# Secrets / env snapshots
*.snapshot

# System
.DS_Store

# Python
__pycache__/
