---
# --- 1. LANGUAGES ---
- name: Install Golang
  apt:
    name: golang-go
    state: present

- name: Install TypeScript globally
  npm:
    name: typescript
    global: yes
    state: present

# --- 2. DESKTOP APPS ---
- name: Install Snapd
  apt:
    name: snapd
    state: present


