---
- name: Install dependencies
  apt:
    name:
      - libssl-dev
      - libavahi-client3
      - libcurl4
      - libopus0
      - libboost-locale-dev
      - wakeonlan
    state: present
    update_cache: yes

- name: Download Sunshine .deb
  get_url:
    url: "{{ sunshine_deb_url }}"
    dest: "/tmp/sunshine.deb"
    mode: '0644'

- name: Install Sunshine
  apt:
    deb: "/tmp/sunshine.deb"
    state: present

- name: Enable functionality for headless streaming (uinput)
  copy:
    src: 85-sunshine-input.rules
    dest: /etc/udev/rules.d/85-sunshine-input.rules
    mode: '0660'
  notify: Reload udev

- name: Add user to video and input groups
  user:
    name: "{{ sunshine_user }}"
    groups: input,video,render
    append: yes

- name: Resolve Sunshine binary path
  shell: readlink -f $(which sunshine)
  register: sunshine_path
  changed_when: false

- name: Set capabilities on Sunshine binary (KMS/NVENC)
  command: setcap cap_sys_admin+p "{{ sunshine_path.stdout }}"
  changed_when: false

- name: Ensure .config/sunshine directory exists
  file:
    path: "{{ sunshine_config_dir }}"
    state: directory
    owner: "{{ sunshine_user }}"
    group: "{{ sunshine_user }}"
    mode: '0755'

- name: Configure sunshine.conf
  template:
    src: sunshine.conf.j2
    dest: "{{ sunshine_config_dir }}/sunshine.conf"
    owner: "{{ sunshine_user }}"
    group: "{{ sunshine_user }}"
    mode: '0644'
  notify: Restart Sunshine

- name: Configure apps.json
  template:
    src: apps.json.j2
    dest: "{{ sunshine_config_dir }}/apps.json"
    owner: "{{ sunshine_user }}"
    group: "{{ sunshine_user }}"
    mode: '0644'
  notify: Restart Sunshine

- name: Install wake-desktop script
  template:
    src: wake-desktop.sh.j2
    dest: /usr/local/bin/wake-desktop
    mode: '0755'

- name: Enable linger for Sunshine user
  command: "loginctl enable-linger {{ sunshine_user }}"
  args:
    creates: "/var/lib/systemd/linger/{{ sunshine_user }}"

- name: Get Sunshine user UID
  command: "id -u {{ sunshine_user }}"
  register: sunshine_uid
  changed_when: false

- name: Enable and start Sunshine user service (Force)
  command: "systemctl --user enable --now sunshine"
  become: yes
  become_user: "{{ sunshine_user }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ sunshine_uid.stdout }}"
  register: systemctl_result
  changed_when: "'Created symlink' in systemctl_result.stderr or 'Created symlink' in systemctl_result.stdout"

# Headless setup - GRUB
- name: Check if nvidia-drm.modeset=1 is in GRUB
  lineinfile:
    path: /etc/default/grub
    regexp: '^GRUB_CMDLINE_LINUX_DEFAULT="(.*)nvidia-drm.modeset=1(.*)"'
    state: absent
  check_mode: yes
  register: grub_check
  failed_when: false
  changed_when: false

- name: Enable nvidia-drm.modeset=1 in GRUB
  lineinfile:
    path: /etc/default/grub
    regexp: '^GRUB_CMDLINE_LINUX_DEFAULT="((?:(?!nvidia-drm\.modeset=1).)*?)"$'
    line: 'GRUB_CMDLINE_LINUX_DEFAULT="\1 nvidia-drm.modeset=1"'
    backrefs: yes
    backrefs: yes
  notify: Update Grub

# Headless Display Setup (EDID + Autologin)
- name: Install Display Manager (GDM3) and XOrg
  apt:
    name:
      - gdm3
      - xserver-xorg
    state: present

- name: Create EDID directory
  file:
    path: /etc/X11/edid
    state: directory
    mode: '0755'

- name: Copy 1080p EDID binary
  copy:
    src: 1080p-edid.bin
    dest: /etc/X11/edid/1080p-edid.bin
    mode: '0644'

- name: Configure Xorg for fake monitor
  template:
    src: xorg.conf.j2
    dest: /etc/X11/xorg.conf
    backup: yes

- name: Configure GDM3 Auto-login
  lineinfile:
    path: /etc/gdm3/custom.conf
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  loop:
    - { regexp: '^#?AutomaticLoginEnable=.*', line: 'AutomaticLoginEnable=True' }
    - { regexp: '^#?AutomaticLogin=.*', line: 'AutomaticLogin={{ sunshine_user }}' }
    - { regexp: '^#?WaylandEnable=.*', line: 'WaylandEnable=false' }
  notify: Restart GDM

